.body { 
  /* overflow: hidden;  */
  margin: auto; 
  background: white; 
  text-align: center; 
}

.backround {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-image: url('toiletPaperBackround.png'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
}

/* POOP OBJECTS */

.daPoop {
  position: fixed;
  height: 85vh;
  width: 35vw;
  bottom: 0vh;
  right: 35vw;
}

.stinkLines {
  position: absolute;
  opacity: 1;
  top: 5vh;
  right: 31vw;
  width: 41vw;
  height: 40vh;
  transition: 0.2s; 
}

/* POOP ANIMATIONS */

.daPoop:active {
  height: 88vh;
  top: 12vh;
}

/* TOP BAR */
.topBar {
  position: fixed;
  height: 10vh;
  width: 50vw;
  background-color: rgb(214, 176, 52);
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  right: 25vw;
  top: 2vh;
}

.gameName {
  position: relative;
  left: 0vw;
  top: 2vh;
  box-sizing: border-box;
  width: 45vw;
  height: 7vh;
  font-size: 4vw;
  z-index: 10; /* Ensure it's on top of overlapping elements */
  text-align: center;
  padding: 10px;
  background: transparent;
  border: transparent;
  font-family: 'Faith Hope', sans-serif;
}

/* LEFT MENU */

.leftMenu {
  position: fixed;
  background-color: rgb(246, 48, 8);
  top: 2%;
  left: 1%;
  height: 90%;
  width: 20%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  overflow-y: auto; 
}

/* Title */
.poopMarket {
  display: flex;
  justify-content: center;
  background-color: rgb(220, 42, 6);
  font-size: 20px;
  border-radius: 20px;
  padding: 20px;
}

/* More poops per click */
.morePoopClicker {
  position: relative;
  background-color: rgb(255, 187, 0);
  border-radius: 20px;
  padding: 15px;
  border: 0px;
  font-size: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
  /* Hover drop */
.morePoopClicker:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: -3px;
  top: 3px;
}

/* More poops per second */
.addMorePoopsPerSecond {
  position: relative;
  background-color: aqua;
  border-radius: 20px;
  border: 0px;
  font-size: 15px;
  padding: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

  /* Hover drop */
.addMorePoopsPerSecond:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: -3px;
  top: 3px;
}

.addTenPoopsPerSecond {
  position: relative;
  background-color: rgb(196, 28, 171);
  border-radius: 20px;
  border: 0px;
  font-size: 15px;
  padding: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

  /* Hover drop */
.addTenPoopsPerSecond:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: -3px;
  top: 3px;
}

/* RIGHT BAR */
.rightBar {
  position: fixed;
  background-color: rgb(0, 255, 157);
  top: 2%;
  right: 1%;
  height: 40%;
  width: 20%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  overflow-y: auto; 
}

.stats {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(11, 233, 148);
  border-radius: 20px;
}

.level{
  background-color: rgb(127, 255, 127);
  border-radius: 20px;
  padding: 5px;
}

.levelBar {
  border-radius: 20px;
}

.statsPoop {
  background-color: aquamarine;
  border-radius: 20px;
  padding: 5px;
}

.statsShop {
  background-color: rgb(127, 255, 182);
  border-radius: 20px;
  padding: 5px;
}

.statsStock {
  background-color: rgb(11, 188, 88);
  border-radius: 20px;
  padding: 5px;
}


/* STUFF */
.stuff {
  position: fixed;
  background-color: rgb(240, 171, 76);
  top: 50%;
  right: 1%;
  height: 43%;
  width: 20%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  overflow-y: auto; 
}

.stuffTitle {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(233, 126, 11);
  border-radius: 20px;
}

.lotteryPic {
  /* position: absolute; */
  width: 100px;
  /* left: 0px; */
}

.stuffPicLabel {
  position: relative;
  letter-spacing: 0.05w;
  font-size: 4vw;
  top: -1vh;
  left: 5px;
}

.stuffPicGroup {
  position: relative;
  background-color: red;
  border-radius: 20px;
  padding: -20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.stuffPicGroup:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: -3px;
  top: 3px;
}

.stuffyScreen {
  position: fixed;
  top: 3%;
  left: 3%; 
  width: 94%;
  height: 94%;
  background-color: rgb(24, 198, 59);
  pointer-events: none;
  border-radius: 20px;
}

.stuffyTitle {
  margin-top: 30px;
  font-size: 7vw;
  /* font-family: 'Jumbo Sale Trial', sans-serif; */
}

.stuffXExit {
  position: fixed;
  font-size: 50px;
  top: 50px;
  left: 5vw;
}

.lotteryTickets {
  display: flex;
}

/* pooper man */

.pooperManLottery {
  /* position: fixed;
  left: 100px;*/
  width: 300px; 
  opacity: 1;
}

.areYouSurePooperManBody {
  position: fixed;
  width: 50vw;
  height: 40vh;
  left: 25vw;
  top: 30vh;
  background-color: rgb(152, 213, 20);
  border-radius: 20px;
  opacity: 1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoPooperMan {
  position: fixed;
  font-size: 25px;
  left: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoPooperMan:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  left: 391px;
  top: 311px;
}

.noDoPooperMan {
  position: fixed;
  font-size: 25px;
  right: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.noDoPooperMan:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: 389px;
  top: 311px;
}

.areYouSurePooperManBodyTitle {
  margin-top: 10px;
  font-size: 30px;
}

/* dogTurd */

.dogTurdLottery {
  /* position: fixed;
  left: 100px; */
  width: 300px;
  opacity: 1;
}

.areYouSureDogTurdBody {
  position: fixed;
  width: 50vw;
  height: 40vh;
  left: 25vw;
  top: 30vh;
  background-color: rgb(152, 213, 20);
  border-radius: 20px;
  opacity: 1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoDogTurd {
  position: fixed;
  font-size: 25px;
  left: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoDogTurd:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  left: 391px;
  top: 311px;
}

.noDoDogTurd {
  position: fixed;
  font-size: 25px;
  right: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.noDoDogTurd:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: 389px;
  top: 311px;
}

.areYouSureDogTurdBodyTitle {
  margin-top: 10px;
  font-size: 30px;
}

/* Omnipotent Poop*/

.omnipotentPoopLottery {
  /* position: fixed;
  left: 100px; */
  width: 300px;
  opacity: 1;
}

.areYouSureOmnipotentPoopBody {
  position: fixed;
  width: 50vw;
  height: 40vh;
  left: 25vw;
  top: 30vh;
  background-color: rgb(152, 213, 20);
  border-radius: 20px;
  opacity: 1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoOmnipotentPoop {
  position: fixed;
  font-size: 25px;
  left: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.yesDoOmnipotentPoop:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  left: 391px;
  top: 311px;
}

.noDoOmnipotentPoop {
  position: fixed;
  font-size: 25px;
  right: 390px;
  top: 310px;
  width: 8vw;
  background-color: rgb(163, 235, 7);
  padding: 7vw;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.noDoOmnipotentPoop:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
  right: 389px;
  top: 311px;
}

.areYouSureOmnipotentPoopBodyTitle {
  margin-top: 10px;
  font-size: 30px;
}

.stockMarketPic {
  margin-top: 20px;
  width: 200px;  
}

.stockMarketGraphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stockMarketGraph {
  width: 100%;  /* 100% of the parent's width */
  height: 70vh; /* 50% of the viewport height */
}

.buyStock {
  position: fixed;
  left: 200px;
  background-color: rgb(0, 0, 255);
  padding: 10px;
  border-radius: 10px;
  top: 100px;
}

.sellStock {
  position: fixed;
  right: 200px;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
  top: 100px;
}